{% extends "main/base.html" %}
{% load i18n %}
{% load static %}
{% block title %}
    {% trans 'CoRST Help' %}

{% endblock %}
{% block meta_content %}

    {% trans 'Help' %}
{% endblock %}


{% block content %}
      <div class="container w-100">
    <div class="panel panel-default">
      <h2>Как искать в корпусе</h2>
      <div class="panel-body">
          <i><h4 id="exact">Как найти словоформу в корпусе?</h4></i>
        <p>В окне поиска в строке «Поиск точных форм» наберите нужную словоформу и щелкните на кнопке «Поиск»:</p>
          <p>В отдельном окне вы получите результаты поиска.</p><p>В этом поле доступен поиск только по одной словоформе.  Даже если вы введете несколько словоформ, будет выполнен только поиск по первому слову. Для поиска нескольких слов воспользуйтесь функцией лексико-грамматического поиска.</p><hr>
          <i><h4 id="lexic">Что такое лексико-грамматический поиск?</h4></i>
          <p>Лексико-грамматический поиск позволяет искать все вхождения лексемы, вхождения лексемы в нужной грамматической форме, необходимые тэги ошибок, а так же позволяет искать сочетания нескольких слов.</p>
        <p>Чтобы найти все вхождения конкретной лексемы в корпус, на странице поиска в зоне «Лексико-грамматический поиск» в поле «Словоформа» наберите нужное слово и щелкните на кнопке «Поиск» (лексему нужно набирать в
основной, словарной форме):</p>
          <p>В ответ на этот запрос Вы получите все словоформы, относящиеся к лексеме и входящие
в Корпус.</p>
          <hr>
          <i><h4 id="distance">Расстояние между словами</h4></i>
          <p>В графе «Расстояние» устанавливается нужное расстояние от первого слова до всех следующих (например, расстояние 1–1 означает, что слово будет непосредственно справа от первого слова поиска, расстояние 1–2 – слово будет справа рядом или справа через одно слово, 2–2 – слово будет справа через одно слово от первого. Расстояние может быть отрицательным (например, -1 и -2). Если Вы ищете последовательность из трех слов, то в первой графе "Расстояние" нужно задать параметры 1-1, а во второй 2-2.</p>
      </div>
    </div>

    <div class="panel panel-default" id="tags">
      <i><h4>Тэги ошибок</h4></i>
      <div class="panel-body">
          <table class="table table-bordered table-condensed" style="font-size: smaller">
           <thead>
            <tr>
                <th>Категория ошибок</th>
                <th>Тэг</th>
                <th>Описание</th>
                <th>Пример</th>
                <th>Разметка примера</th>
            </tr>
            </thead>
              <tbody>
              <tr>
                  <td rowspan="9" id="sec41">Орфография</td>
                  <td rowspan="2">Graph</td>
                  <td rowspan="2">смешение алфавитов</td>
                  <td>Dруг [‘=друг’] человек, которому вы можно доверять.</td>
                  <td>Graph+Subst</td>
              </tr>
              <tr>
                  <td>Но маме его не так думала… После этого она мне вообще не геагировала [‘=реагировала’]–через год!</td>
                  <td>Graph+Subst</td></tr>
              <tr>
                  <td rowspan="2">Hyphen</td>
                  <td rowspan="2">ошибки в дефисном написании</td>
                  <td>Кудато</td>
                  <td>Hyphen+Del
</td></tr>
              <tr>
                  <td>потому-что</td>
                  <td>Hyphen+Insert</td></tr>
              <tr>
                  <td rowspan="2">Space</td>
                  <td rowspan="2">ошибка в слитно-раздельном написании</td>
                  <td>не достаточный</td>
                  <td>Space+Insert</td></tr>
              <tr>
                  <td>Немогу</td>
                  <td>Space+Del
</td></tr>
              <tr>
                  <td>Ortho</td>
                  <td>прочие орфографические ошибки</td>
                  <td>карова, прожыть</td>
                  <td>Ortho+Subst</td></tr>
              <tr>
                  <td>Translit</td>
                  <td>неверная транлитерация имени собственного</td>
                  <td>Гиминьгвэй [вм. Хемингуэй]</td>
                  <td>Translit</td>
              </tr>
              <tr>
                  <td>Misspell</td>
                  <td>комплексная ошибка, затрагивающая несколько букв (трансформировано написание слова в целом)</td>
                  <td>деяк (вм. денег)</td>
                  <td>Misspell</td></tr>
              <tr>
                  <td rowspan="8" id="sec42">Морфологические ошибки</td>
                  <td rowspan="3">Deriv</td>
                  <td rowspan="3">случаи словотворчества, когда студент,
используя приставки и/или суффиксы,
создаёт несуществующее слово</td>
                  <td>Их шармантный акцент делает их обаятельными
</td>
                  <td>Deriv
</td></tr>
              <tr>
                  <td>Но это не действителная дружбость [‘=дружба’], а виртуальная подделка
</td>
                  <td>Deriv+Insert;
</td></tr>
              <tr>
                  <td> Не только люди, но собаки и котошки [‘=коты/кошки’] может быт другя.
</td>
                  <td>Deriv+Insert;
</td></tr>
              <tr>
                  <td rowspan="2">Infl</td>
                  <td rowspan="2">использование окончания,
которое отсутствует в парадигме данного слова</td>
                  <td>Я с Кодием [‘=Коди’] будем развиться.
</td>
                  <td>Infl+Insert
</td></tr>
              <tr>
                  <td>В статье не говорять о побочним действиях нелегальных наркотиках
</td>
                  <td>Infl+Subst
</td></tr>
              <tr>
                  <td>Num
</td>
                  <td>употребление слова в неверной числовой форме (несоответствующей контексту или аномальной для этого слова)</td>
                  <td>мы занимались физкультурами</td>
                  <td>Num</td></tr>
              <tr>
                  <td>Gender
</td>
                  <td>изменение родовой принадлежности слова</td>
                  <td>	Автор даёт серьезныю комментарию об американcком обществе</td>
                  <td>Gender</td></tr>
              <tr>
                  <td>Morph
</td>
                  <td>прочие морфологические ошибки</td>
                  <td></td>
                  <td></td></tr>
              <tr>
                  <td rowspan="19" id="sec43">Синтаксические ошибки</td>
                  <td>Asp
</td>
                  <td>неверная видовая форма или неверный выбор глаголов ненаправленного или повторяющегося движения (ср. ехать - ездить)</td>
                  <td>Аня была русская женшина, которая не знала английский язык, я просто помню, как мне сразу она нравилась [‘=понравилась’].<br>
я   не   разу   на   пляж   не   ехала</td>
                  <td>Asp</td></tr>
              <tr>
                  <td>ArgStr
</td>
                  <td>ошибки в аргументной структуре глагола, существительного или прилагательного</td>
                  <td>Исскусство учит человека о эмоциональной глубине</td>
                  <td>ArgStr+Insert</td></tr>
              <tr>
                  <td>Passive
</td>
                  <td>неверное использование пассива</td>
                  <td>лесть часто злоупотребляется… [вм. лестью часто злоупотребляют ]
Когда Николас проснулся они были обокрадены</td>
                  <td>Passive</td></tr>
              <tr>
                  <td>Reflex

</td>
                  <td>неверное употребление возвратных глаголов	 </td>
                  <td>стречала  [= встречалась] с   мою подрушку</td>
                  <td>Refl</td></tr>
              <tr>
                  <td>AgrNum
</td>
                  <td>ошибка в согласовании по числу</td>
                  <td>Друг слышал и нравится что вы сказал [‘=сказали’].<br>
Сема взял черепаху в руки, взял все своё принадлежности</td>
                  <td>AgrNum</td></tr>
              <tr>
                  <td>AgrCase
</td>
                  <td>ошибка в согласовании по падежу
(NB Тег AgrCase не используется в случаях нарушения падежного управления: ср.  с этом значением vs стречала   с   мою подрушку. Ошибка в управлении описывается тегом Gov)</td>
                  <td>с этом значением</td>
                  <td>AgrCase</td></tr>
              <tr>
                  <td>AgrGender
</td>
                  <td>ошибка в согласовании по роду (прилагательных, причастий, местоимений или глаголов прошедшего времени)</td>
                  <td>Наша дружба самая важная асппект моей жизни.</td>
                  <td>AgrGender</td></tr>
              <tr>
                  <td>AgrPers
</td>
                  <td>неверное согласование сказуемого по лицу</td>
                  <td>Она никогда не буду стать [‘=станет’] врачом</td>
                  <td>AgrPers</td></tr>
              <tr>
                  <td>AgrGerund
</td>
                  <td>ошибка в согласовании деепричастия</td>
                  <td>Ходя по этому городу мой рот не закрывался от удевления</td>
                  <td>AgrGerund</td></tr>
              <tr>
                  <td>Gov
</td>
                  <td>ошибка в управлении
(NB Тег Gov не используется в случаях нарушения согласования по падежу: ср.  стречала   с   мою подрушку vs с этом значением. Ошибка в падежном согласовании описывается тегом AgrCase)</td>
                  <td>Он … полон красотой  [вм. полон красоты]чистых и нежных эмоций<br>
Люди думают, что легко найти хороших друзья [вм. найти хороших друзей]</td>
                  <td>Gov</td></tr>
              <tr>
                  <td rowspan="2">Ref</td>
                  <td rowspan="2">ошибки в употреблении местоимений (пропуск или неверный выбор местоимения)</td>
                  <td>Я люблю русский язык и никогда не забуду. [вм. никогда его не забуду]
</td>
                  <td>Ref+Del
</td></tr>
              <tr>
                  <td>Почему Тарковский назвал его фильм [вм. свой фильм]
именно «Иваново детство»?»
</td>
                  <td>Ref+Subst
</td></tr>
              <tr>
                  <td rowspan="2">Conj </td>
                  <td rowspan="2">ошибка в употреблении союза</td>
                  <td>Главное, можно понимать причины зачем это случается [вм. почему это случается]
</td>
                  <td>Conj
</td></tr>
              <tr>
                  <td>Нам всем интересно, если у меня будет сын или дочь; [вм. ли: будет ли у меня…]
</td>
                  <td>Conj+Transfer
</td></tr>
              <tr>
                  <td>WO
</td>
                  <td>ошибка в порядке слов	</td>
                  <td>С большими трудностями приходится сталкиваться директору приюта ежедневно.</td>
                  <td>WO</td></tr>
              <tr>
                  <td>Neg
</td>
                  <td>неверная постановка отрицания</td>
                  <td>Если человек понимает как язык работает тогдо не будет сложно понимать юмор или поэзю [вм. будет несложно понимать…]</td>
                  <td>	Neg</td></tr>
              <tr>
                  <td>Aux
</td>
                  <td>Неверное употребление глагола «есть», глаголов-связок</td>
                  <td>Когда мне грустно, друг всегда есть со мной [вм. друг всегда со мной]</td>
                  <td>Aux+Insert</td></tr>
              <tr>
                  <td>Brev
</td>
                  <td>Употребление кратких/полных прилагательных</td>
                  <td>Чай был такой вкусен! [вм. такой вкусный]</td>
                  <td>Brev</td></tr>
              <tr>
                  <td>Syntax
</td>
                  <td>прочие синтаксические ошибки, не описанные в классификации</td>
                  <td></td>
                  <td></td></tr>
              <tr>
                  <td  id="sec44">Ошибки в конструкциях
</td>
                  <td>Constr
</td>
                  <td>неверный выбор конструкции или ошибка внутри конструкции (ошибка затрагивает выбор или форму более одной единицы или связана с пропуском/добавлением единицы)</td>
                  <td>Я имею две собаки [вм. у меня есть]<br>
На большей части моей жизни я не знала, что такое друг
</td>
                  <td>Constr+Subst</td></tr>
              <tr>
                  <td rowspan="5" id="sec45">Лексические ошибки</td>
                  <td>Lex</td>
                  <td>неверное словоупотребление</td>
                  <td>Наша учительница принципиально проводила урок на русском языке [вм. специально]<br>
У ног башни [вм. у подножия башни] расположен великолепный парк в котором можно прекрасно отдохнуть и насладиться духом этого города
</td>
                  <td>Lex
</td></tr>
              <tr>
                  <td rowspan="2">CS</td>
                  <td rowspan="2">code-switching (использование иноязычного слова, написанного латиницей или кириллицей)</td>
                  <td>У берега бегала dog
</td>
                  <td>CS
</td></tr>
              <tr>
                  <td>небо было хелл блау
</td>
                  <td>CS</td></tr>
              <tr>
                  <td>Par
</td>
                  <td>паронимия</td>
                  <td>Этот завлекательный [вм. увлекательный] язык <br>
Ближние каникулы [вм. ближайшие]	</td>
                  <td>Par</td></tr>
              <tr>
                  <td>Idiom
</td>
                  <td>ошибка в употреблении устойчивого словосочетания</td>
                  <td>От дубов простыл и свет [вм. след]<br>
Эти мысли застряли в голове [вм. засели в голове]</td>
                  <td>Idiom</td></tr>
              <tr>
                  <td rowspan="6" id="sec46">Дополнительные теги
(используются только
в сочетании с тегами
ошибок, приведёнными выше)
</td>
                  <td>Transfer
</td>
                  <td>интерференция с L1</td>
                  <td>Я не могу дождадса до кониколов [калька ‘wait till’]
но я совсем забыла что мне нужно здават 2  бумаги через неделю [калька “paper”]</td>
                  <td></td></tr>
              <tr>
                  <td>Not-clear
</td>
                  <td>по контексту невозможно восстановить смысл фразы и исправить ошибку</td>
                  <td>Он не приходит груст тебе, но шоколат и ГУЕННЫ.</td>
                  <td></td></tr>
              <tr>
                  <td>Del

</td>
                  <td>пропуск буквы, морфемы или слова </td>
                  <td>Мы наблюдаем разные процессы с явлениями природы [пропуск причастия связанные]</td>
                  <td></td></tr>
              <tr>
                  <td>Insert
</td>
                  <td>вставка ненужной элемента (буквы, морфемы или слова)</td>
                  <td>У него ещё одна причина, чтобы увидеть, если ли она достойна услышать его теорию [лишний союз если]</td>
                  <td></td></tr>
              <tr>
                  <td>Transp
</td>
                  <td>перестановка двух соседних элементов (буквы, морфемы или слова) </td>
                  <td></td>
                  <td></td></tr>
              <tr>
                  <td>Subst
</td>
                  <td>замена буквы, морфемы или слова  </td>
                  <td></td>
                  <td></td></tr>
              </tbody>
         </table>
      </div>
    </div>

{% if user.is_authenticated %}
    <div class="panel panel-default" id="howtoann">
      <h2>Как размечать в корпусе</h2>
      <div class="panel-body">
           <div class="row">

<div class="col-sm-12">
        <i><h4 id="addtext">{% trans 'Как добавлять тексты' %}</h4></i>
          <p>Перейдите в "Панель управления". В окне "Annotator" нужно найти строчку "Документы". В этой строчке вы можете нажать на слово "Добавить +", чтобы перейти к добавлению нового текста в корпус. Щелкнув на слово "Документы", вы перейдете к списку всех текстов. Справа вверху вы можете нажать кнопку "Добавить документ", чтобы перейти к добавлению текста в корпус.</p>
          <p>В открывшемся окне необходимо вставить новый текст в поле "Текст" и заполнить поля "Источник текста" и "Автор". Если возможно, заполните прочие поля документа (подробнее см. <a href="#sec3">информацио о метаразметке</a>).</p>
          <p>Нажмите кнопку "Сохранить" и подождите немного: текст обрабатывается морфологическим парсером и добавляется в базу данных. После того, как текст будет записан, вы автоматически перейдете к списку документов и увидите уведомение "Документ был успешно добавлен".</p>
          <hr id="sec3">
        <i><h4>{% trans 'Метаразметка' %}</h4></i>
         <p>Описание полей метаразметки.</p>
          <ul>
              <li><b>Создатель</b> - логин пользователя, который загружает текст.</li>
              <li><b>Источник текста</b> - </li>
          </ul>
          <p>Информация об авторе</p>
          <ul>
              <li><b>Автор</b> - </li>
              <li><b>Пол</b> - пол автора текста.</li>
              <li><b>Курс</b> - учебный курс или программа, в рамках которых было задано написание текста (необязательное поле).</li>
              <li><b>Language background</b> - изучение русского языка как иностранного\эритажного.</li>
              <li><b>Уровень</b> - уровень владения русским языком по шкале CEFR</li>
              <li><b>Доминантный язык</b> - язык, на котором студент общается большую часть времени</li>
              <li><b>Код студента</b> - </li>
              <li><b>Full metadata</b> - заполнены ли основные поля метаданных (доминантный язык, language background, уровень владения, mode)</li>
          </ul>
          <p>Информация о тексте</p>
          <ul>
              <li><b>Дата</b> - год создания текста</li>
              <li><b>Жанр</b> - </li>
              <li><b>Тип текста</b> - </li>
              <li><b>Аннотация</b> - </li>
              <li><b>Временные ограничения</b> - </li>
              <li><b>Mode</b> - устный\письменный</li>
              <li><b>Подкорпус</b> - RULEC | HSE</li>
          </ul>

          <hr id="sec5">
        <h4 id="annotating">{% trans 'Разметка ошибок' %}</h4>
          <hr id="sec6">
        <h4>..</h4>



        </div>
  	</div>
      </div></div>
    {% endif %}

{% if not user.is_authenticated %}
    <div class="well well-sm" id="howtoann"><small>{% trans 'Чтобы получить доступ к <mark>инструкции по работе в панели управления и описанию инструмента разметки</mark>, войдите в систему, используя ваш логин и пароль.' %}</small></div>
    {% endif %}


</div><!--/right-->

{% endblock content %}