{% extends 'main/base.html' %}
{% load static %}

{% block title %}
About CoRST
{% endblock %}

{% block content %}
<div class="container w-100">
    <div class="col-md-10">


                <hr id="sec2">


                <h2>О корпусе</h2>
        <p>Корпус русских учебных текстов (КРУТ) – это коллекция текстов на русском языке, написанных студентами разных вузов. Общий объем корпуса составляет около 3,1&nbsp;млн. слов. Тексты сопровождаются несколькими типами разметки (метатекстовой, морфологической разметкой и разметкой по ошибкам), что позволяет осуществлять поиск по корпусу.</p>
<p>Корпус русских учебных текстов является информационно-справочной системой, предназначенной для исследователей, преподавателей, студентов, а также для всех, кто интересуется проблемами современной русской грамматики, актуальными процессами в области лексики, морфологии и синтаксиса современного русского языка.</p>


                <hr id="sec3">


                <h2>Типы текстов</h2>
        <p>Учебные тексты написаны студентами разных вузов, бакалаврами и магистрами. Основные типы текстов, представленных в корпусе: курсовые, дипломные и выпускные квалификационные работы, эссе, аннотации, рефераты, конспекты, автобиографии, абзацы (тексты небольшого объема различного происхождения: домашние задания, ответы на вопросы и т.д.).</p>
<p>В корпусе представлена информация о том, в каком учебном году / семестре / модуле был написан текст и к какой сфере знания он относится. Сфера знания может не совпадать со специальностью студента. Например, если лингвист пишет эссе по истории, мы указываем и его основную специальность (<i>лингвист</i>), и «предмет», по которому написана работа (<i>история</i>).</p>



                <hr id="sec4">


                <h2>Авторы текстов</h2>
        <p>В корпус были включены тексты студентов следующих специальностей: экономика, социология, политология, юриспруденция, психология, журналистика, лингвистика, история, филология, логистика, математика, философия. Как правило, в корпусе есть информация о поле и возрасте автора, а также о годе обучения (1 курс бакалавриата, 2 курс магистратуры и т.д.). Часть текстов снабжена информацией о том, в каком регионе проживал автор до 18 лет и является ли он билингвом.</p>



                <hr id="sec5">


                <h2>Аннотирование корпуса</h2>
        <p>Как и в любом корпусе текстов, предназначенных для лингвистических и социолингвистических исследований, тексты Учебного корпуса снабжены <i>лингвистической</i> и <i>металингвистической информацией</i>, или <i>разметкой</i>. Лингвистическая разметка включает в себя <i>морфологическую разметку</i> и <i>разметку по ошибкам</i>. На данный момент тексты корпуса содержат <i>метатекстовую разметку (метаразметку)</i> и <i>морфологическую разметку</i>. </p>
<p>
Ниже приведена подробная информация о типах разметки.
</p>


                <hr id="sec6">
                 <h2>Метатекстовая разметка</h2>


        <p><i>Метатекстовая разметка,</i> или <i>метаразметка,</i> содержит металингвистическую информацию о тексте и его авторе.</p>


           <div class="row">
          <div class="col-md-6">
            <div class="panel panel-default">
              <div class="panel-heading"><h4>Информация об авторе</h4></div>
              <div class="panel-body">
                 <p><b>лингвист, экономист, социолог, юрист</b> и т.д. <br>

<i>Специальность</i> студента указывается всегда: это важная часть социолингвистической информации, она имеет значение для методических исследований.</p>

<p><b>М, Ж</b><br>

Информация о <i>поле</i> студента указывается в подавляющем большинстве случаев, но иногда  восстановить ее не удается. Например, если студент подписал свою работу <i>Яковенко М.</i>, поле «пол» остается незаполненным. После метаразметки имя и фамилию студента удаляют.</p>

<p><b>21, 22,</b> и т.д. <br>
<i>Возраст</i> студента указывается в случае необходимости. В процессе создания корпуса мы не ставили перед собой задачу получать точную информацию о возрасте. Большинство российских студентов начинают учиться в вузе сразу после окончания школы, следовательно, примерный возраст студента несложно восстановить из информации о <i>Курсе</i> (см. раздел Информация о тексте). </p>

<p><b>украинский, армянский, немецкий</b> и т.д. <br>
Информация о том, владеет ли студент каким-либо еще языком, кроме русского, как родным (так называемый «второй родной»). Как правило, это язык, на котором говорят в семье, или язык среды, в которой пребывал студент до поступления в университет.</p>

<p><b>Украина, Армения, Германия</b> и т.д. <br>
Информация о регионе проживания до поступления в университет, она имеет значение для социолингвистических исследований. Указывается в том случае, если мы обладаем этой информацией.<br>
 <br> <br> <br>
              </p></div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="panel panel-default">
              <div class="panel-heading"><h4>Информация о тексте</h4></div>
              <div class="panel-body">
                  <p><b>2003-2004, 2011-2012,</b> и т.д.  <br>
Информация о том, в каком учебном году написан текст.</p>

<p><b>1 курс спец, 2 курс бак, 1 курс маг,</b> и т.д. <br>
Информация о том, на каком этапе обучения был написан текст. Например, <b>1 курс спец</b> – на первом из пяти курсов специалитета, <b>2 курс бак</b> – на втором курсе бакалавриата и т.д.</p>

<p><b>1 семестр, 2 модуль</b> и т.д.<br>
Информация о том, в каком семестре (модуле – для студентов с модульной системой обучения) был написан текст.</p>

<p><b>Курсовая, диплом, ВКР, аннотация, эссе, реферат, конспект, автобиография, абзац</b> и т.д.<br>
Тип текста указывается обязательно. ВКР – выпускная квалификационная работа. Абзацы – это тексты небольшого объема различного происхождения: домашние задания, ответы на вопросы и т.д.</p>

<p><b>Лингвистика, экономика, социология, право</b> и т.д.<br>
В процессе обучения в вузе студент пишет работы не только по своей основной специальности. Как правило, курсовые и дипломную (ВКР) работу лингвист пишет по лингвистике, экономист – по экономике, но даже здесь возможны исключения. Что касается остальных текстов, то сфера знаний, к которой их можно отнести, далеко не всегда совпадает со специальностью студента. Например, лингвист пишет работу по истории, экономист – по социологии и т.д. Многие тексты небольшого объема написаны в рамках курсов по академическому письму и культуре речи и не могут быть отнесены к какой-либо конкретной сфере знания, в этом случае они получают помету <b>«разнородная тематика»</b>). </p>

              </div>
            </div>
          </div>
        </div>


                <hr id="sec7">
                 <h2>Морфологическая разметка</h2>


        <p>Морфологическая разметка содержит информацию о морфологических формах и значениях (часть речи, род, число, падеж, наклонение и т.д.). Она необходима для того, чтобы осуществлять поиск нужных пользователю слов, форм слова, конструкций и т.д.</p>
<p>Для морфологической разметки Корпуса русских учебных текстов мы использовали ту же систему тэгов, что и в Национальном корпусе русского языка (НКРЯ). Полный список тэгов с расшифровкой можно найти на сайте <a href="http://ruscorpora.ru/corpora-morph.html" target="_blank">НКРЯ</a>. Морфологическая разметка осуществляется автоматически с помощью программы <a href="https://company.yandex.ru/technologies/mystem/" target="_blank">MYSTEM</a>.</p>



                <hr id="sec8">
                 <h2>Разметка по ошибкам</h2>


        <p>Многоуровневая <i>система разметки по ошибкам</i> в данный момент проходит апробацию, после чего тексты будут размечены вручную. В систему разметки по ошибкам входят:</p>
<ol type="a"><li>лингвистический тип ошибки (ошибки лексического, грамматического и дискурсивного уровней);</li>
<li>причина ошибки.</li></ol>
<p>Совокупность <i>лингвистических типов ошибок,</i> представленных в (а), подразделяется на подтипы, а именно: </p><ul>
<li>лексические (собственно лексические и словообразовательные),</li>
<li>стилистические (официально-деловой стиль, разговорный стиль, прочие стилистические нарушения),</li>
<li>грамматические (ошибки на согласование, на управление, на сочинение, в сравнительных конструкциях, в деепричастных оборотах, в сложном предложении – в сентенциальных актантах и относительных клаузах; ошибки в местоимениях – в том числе на анафору и рефлексивы; в возвратности, в именном и глагольном словоизменении – в числе, лице, роде, падеже, инфинитиве, причастии, кратком прилагательном)</li>
<li>и дискурсивные (парцелляция, топикализация, неверное употребление слов-связок, смешение прямой и косвенной речи, неверный порядок слов, логические нарушения).</li>
</ul><p></p>
<p>Среди <i>причин ошибок,</i> представленных в (b), выделяются контаминации конструкций и опечатки как наиболее прозрачные и наиболее распространенные.В дальнейшем при аннотировании корпуса возможно выделение других видов причин ошибок.</p>
<p>Важно подчеркнуть, что предлагаемая классификация ошибок является многомерной: во-первых, для одной и той же ошибки следует определять ее лингвистический тип и, если возможно, причину; во-вторых, одна и та же ошибка на лингвистическом уровне может быть отнесена к разным лингвистическим типам (например, ошибка может быть собственно лексической и стилистической одновременно).</p>

                <hr id="sec9">


                <h2>Пользователи корпуса</h2>
        <p>Пользователями Корпуса русских учебных текстов могут быть лингвисты-исследователи, преподаватели русского языка, культуры речи и академического письма, студенты.</p>
<p>Лингвистам-исследователям ресурс полезен тем, что позволяет, с одной стороны, систематизировать представления о такой специфической разновидности современной речи, как академические тексты начинающих авторов – носителей русского языка. С другой стороны, корпус академического письма – это неоценимый ресурс для изучения ошибок, допускаемых носителями языка, а, значит, для исследователей в области грамматики, лексики, стилистики, социолингвистики, психолингвистики.</p>
<p>Преподавателям русского языка, культуры речи и академического письма ресурс позволяет нащупать "болевые точки", увидеть основные проблемы, с которыми сталкивается студент при овладении новым регистром родного языка. Методическая ценность ресурса заключается в том, что преподаватели получают возможность разрабатывать на его основе различные упражнения и лингвистические тренажеры.</p>
<p>Студентам различных специальностей ресурс дает возможность ознакомиться с типичными языковыми ошибками и способами их классификации, попробовать свои силы в редактировании. Такие упражнения должны значительно уменьшить вероятность того, что при написании собственного текста эти ошибки останутся незамеченными.</p>


                <hr id="sec10">


                <h2>Команда корпуса</h2>
        <p>Рабочая группа в составе Лингвистической лаборатории по корпусным технологиям НИУ ВШЭ</p><br>

<p><b>Руководители корпуса</b><br>
Наталья Александровна Зевахина<br>
Екатерина Владимировна Рахилина<br>
Юлия Михайловна Кувшинская</p><br>

<p><b>Главные программисты-разработчики корпуса</b><br>
Тимофей Александрович Архангельский<br>
Евгений Глазунов<br>
Эльмира Гаязовна Мустакимова<br>
</p><br>

<p><b>На разных этапах проекта в создании корпуса принимали участие:</b>
<br></p><li><b>Сотрудники Школы лингвистики НИУ ВШЭ</b><br></li>
Яна Эмильевна Ахапкина <br>
Светлана Джакупова <br>
Олеся Кисселев <br>
Анна Иосифовна Левинзон <br>
Александр Борисович Летучий <br>
Анна Дмитриевна Плисецкая <p></p>

<p></p><li><b>Студенты Школы лингвистики НИУ ВШЭ</b><br></li>

Влада Александрова<br>
Ольга Астапенко<br>
Юлия Бадрызлова<br>
Маргарита Боброва<br>
Татьяна Больгина<br>
Мария Бочарова<br>
Анна Вишенкова<br>
Екатерина Волошина<br>
Евгений Глазунов<br>
Никита Гордеев<br>
Надежда Григорьева<br>
Даша Демидова<br>
Андрей Зайцев<br>
Мария Зарифян<br>
Вероника Зыкова<br>
Виолетта Иванова<br>
Сергей Колесников<br>
Анна Кондратьева<br>
Анастасия Костяницына<br>
Полина Кудрявцева<br>
Мария Кузнецова<br>
Ольга Культепина<br>
Алина Ладыгина<br>
Настя Макарович<br>
Дарья Максимова<br>
Екатерина Матюхина<br>
Екатерина Можелянская<br>
Николь Морозова<br>
Мария Мыслина<br>
Мария Объедкова<br>
Ольга Осиновская<br>
Василиса Осипова<br>
Ирина Пантелеева<br>
Алина Прохорова<br>
Светлана Пужаева<br>
Ольга Рамзайцева<br>
Ксения Романова<br>
Саша Саламатина<br>
Ася Симонян<br>
Анна Симонян<br>
Полина Сонина<br>
Екатерина Такташева<br>
Мария Терёхина<br>
Мария Федорова<br>
Анна Цызова<br>
Наталья Чукичева<br>
Алина Шаймарданова<br>
Яна Шевченко<br>
<p></p>

                <hr id="sec11">


                <h2>Публикации</h2>


                <hr id="sec12">
                 <h2>Проекты</h2>


        <ul>

<p><br><b>2021</b></p>

<li><i>Александра Серова<br></i>
Вариативность моделей управления: корпусное исследование</li><br>


<p><br><b>2017</b></p>

<li><i>Надежда Григорьева<br></i>
Ошибки в залоге и актантных деривациях: корпусное и экспериментальное исследование</li><br>

<li><i>Анастасия Макарович<br></i>
Анализ ошибок, связанных с моделью управления в современном узусе русского языка</li><br>

<li><i>Надежда Григорьева<br></i>
Анализ ошибок в возвратных конструкциях текстах стандартных и нестандартных говорящих</li><br>

<li><i>Анастасия Макарович<br></i>
Анализ ошибок, связанных с моделью управления в текстах стандартных и нестандартных говорящих</li><br>


<p><br><b>2016</b></p>

<li><i>Ольга Рамзайцева<br></i>
Автоматическое выделение ошибок в сравнительных конструкциях в Корпусе русских учебных текстов</li><br>

<li><i>Светлана Пужаева<br></i>
Факторы, влияющие на нарушение кореференции деепричастных оборотов</li><br>


<p><br><b>2015</b></p>

<li><i>Анна Вишенкова<br></i>
Сравнительные конструкции с двойным показателем сравнения в нестандартном русском: корпусное исследование</li><br>

<li><i>Светлана Пужаева<br></i>
Контаминация конструкций в Корпусе русских учебных текстов</li><br>


<p><br><b>2014</b></p>

<li><i>Наталья Зевахина, Светлана Джакупова<br></i>
(Не)совпадение падежа при эллипсисе в сочинительных конструкциях на материале учебных текстов носителей русского языка</li><br>

<li><i>Наталья Зевахина, Светлана Джакупова, Анна Вишенкова<br></i>
Meta-linguistic comparative constructions in Russian and cross-linguistically (2014 — по наст.вр.)</li>
</ul>

                <hr id="sec13">
                 <h2>Публикации</h2>


        <ul>
<p><br><b>2021</b></p>

<li>Кувшинская Ю. М., Аксенова А. А. Пунктуация в предложениях с союзом "то есть" как отражение развития дискурсивных функций // В кн.: Язык и метод: Русский язык в лингвистических исследованиях XXI века Vol. 7. Kraków : Wydawnictwo Uniwersytetu Jagiellońskiego, 2021.</li><br>

<p><br><b>2020</b></p>

<li>Klimov A., Kopotev M., Zevakhina N., Kilina M., Grillandi A., Elizaveta N., Sidorova A. Assessing novice writing against the Corpus of Academic Texts, in: 14 TaLC - Teaching and Language Corpora Conference. , 2020. P. 44-45.</li><br>

<p><br><b>2019</b></p>

<li>Klimov A., Toldova S., Kopotev M., Zevakhina N., Дмитриева А. Д., Kisselev O., Баранчикова А., Федорова М. CAT&amp;kittens: a corpus-based text-analytic tool for Russian academic writing, in: SlaviCorp 2018 Book of Abstracts. Charles University, 2018. P. 22-25.</li><br>

<li>Кувшинская Ю. М. Современные тенденции в дистрибутивном употреблении русских существительных (по корпусным данным) // В кн.: Русская грамматика: активные процессы в языке и речи. Яр. : РИО ЯГПУ, 2019. С. 405-415.</li><br>

<li>Kuvshinskaya Y. M. Russian indefinite pronoun kakoj-libo: non-standart usage and changes in the semantics // Jazykovedny Casopis. 2019. No. 2. P. 225-233.</li><br>

<p><br><b>2018</b></p>

<li>Григорьева Н. А., Зевахина Н. А., Кувшинская Ю. М. Нестандартные стратегии употребления возвратных глаголов: причины и языковые механизмы // В кн.: Фортунатовские чтения в Карелии. Сборник докладов Международной научной конференции (10-12 сентября 2018 года, Петрозаводск) Ч. 1. Петрозаводск : Издательство ПетрГУ, 2018. С. 72-74.</li><br>

<p><br><b>2016</b></p>

<li>Кувшинская Ю. М. Студенческие речевые ошибки и актуальные тенденции в развитии русского языка // В кн.: Leo philologiae. Фестшрифт в честь 70-летия Льва Иосифовича Соболева / Под общ. ред.: А. А. Бонч-Осмоловская, М. А. Кучерская, К. М. Поливанов, А. А. Зубов, Майофис Мария Львовна. М. : [б.и.], 2016. С. 157-178.</li><br>

<p><br><b>2015</b></p>

<li>Пужаева С. Ю., Зевахина Н. А., Джакупова С. С. Контаминация конструкций в речи нестандартных русскоговорящих на материале корпуса русских учебных текстов // В кн.: Труды Международной научной конференции "Корпусная лингвистика-2015". СПб. : Издательство СПбГУ, 2015. С. 390-397.</li><br>

<li>Zevakhina N., Dzhakupova S. Corpus of Russian student texts: design and prospects, in: Труды 21-й Международной конференции по компьютерной лингвистике «"Диалог". Изд-во РГГУ, 2015.</li><br>

<li>Пужаева С. Ю., Зевахина Н. А., Джакупова С. С. Контаминация конструкций в речи нестандартных русскоговорящих на материале корпуса русских учебных текстов // В кн.: Труды Международной научной конференции "Корпусная лингвистика-2015". СПб. : Издательство СПбГУ, 2015. С. 390-397.</li><br>

<li>Zevakhina N., Dzhakupova S. Corpus of Russian student texts: design and prospects, in: Труды 21-й Международной конференции по компьютерной лингвистике «"Диалог". Изд-во РГГУ, 2015.</li><br>

<li>Zevakhina N., Dzhakupova S. Russian metalinguistic comparatives: a functional perspective. In Working papers by NRU HSE. Series WP BRP "Linguistics". 2015. No. 39.</li><br>

<p><br><b>2014</b></p>

<li>Svetlana Dzhakupova and Natalia Zevakhina. Case (non-)coincidence in elliptical coordinated constructions: Learner texts of Russian native speakers // Ahti Nikunlassi, Ekaterina Protassova (eds.) Slavica Helsingiensia 45 Instrumentarium of Linguistics: Language errors and multilingualism. Helsinki: University of Helsinki, 2014, с. 35—49.</li><br>
</ul>

                <hr id="sec14">
                 <h2>Доклады</h2>


        <ul>
<br>
<p><br><b>2021</b></p>

<li><i>Кувшинская Ю.М.</i><br>

Работа над ошибками: ошибки в учебных текстах как инструмент обучения и предмет студенческих исследований/ Международная конференция "Язык и методы его описания", РГГУ<br>
28 Январь 2021, Российская Федерация, Москва</li><br>

<li><i>Кувшинская Ю.М., Аксенова А.А. <br></i>
Современные тенденции в употреблении коннектора "то есть": корпусное исследование / V Международный симпозиум "Russian Grammar: System – Language Usage – Language Variation / "Русская грамматика: cистема – узус – языковое варьирование"<br>
22–24 Cентября 2021, Германия, Потсдам</li><br>

<p><br><b>2020</b></p>

<li><i>Kuvshinskaya Yulia, and Natalia Zevakhina </i><br>
Non-standard participles in Russian: a corpus study. The 15th Annual Slavic Linguistics Society Meeting. Indiana University
<br>
4-6 September 2020, US (Online presentation due to Covid-19)</li><br>

<p><br><b>2019</b></p>

<li><i>Кувшинская Ю.М. </i><br>
Местоимение КАКОЙ-ЛИБО: нестандартные употребления и современный узус (по материалам Корпуса русских учебных текстов и НКРЯ)// VI Международная научная конференция "Культура русской речи" (Гротовские чтения)<br>
21–23 Февраль 2019, Российская Федерация, Москва</li><br>

<li><i>Кувшинская Ю.М. </i><br>
Современные тенденции в дистрибутивном употреблении русских существительных (по корпусным данным)// Русская грамматика: активные процессы в языке и речи<br>
17–19 Май 2019, Российская Федерация, Ярославль</li><br>

<p><br><b>2018</b></p>

<li><i>Makarovich, Anastasiya, Natalia Zevakhina, and Yulia Kuvshinskaya</i><br>
Deviations in argument structures of Russian predicates: Corpus evidence. The 51st Annual Meeting of the Societas Linguistica Europaea.
<br>
September 2018, Tallinn</li><br>

<li><i>Кувшинская Ю.М. </i><br>
Нестандартное употребление причастий в русской письменной речи: корпусное исследование//Международная конференция русистов в Барселонском университете.<br>
20–22 Июнь 2018, Испания, Барселона</li><br>

<li><i>Кувшинская, Ю.М., Григорьева, Н.А., Зевахина, Н.А. </i><br>
Нестандартные стратегии употребления возвратных глаголов: причины и языковые механизмы. Международная научная конференция «Фортунатовские чтения в Карелии»<br>
Сентябрь 2018, Российская Федерация, Петрозаводск </li><br>

<li><i>Makarovich Anastasiya, Natalia Zevakhina, and Yulia Kuvshinskaya</i><br>
Deviations in argument structures of Russian predicates: Corpus evidence. SLE Conference. <br>
September 2018, Tallinn </li><br>

<li><i>Кувшинская, Ю.М., Зевахина, Н.А. </i><br>
Нестандартное употребление причастий в русской письменной речи: корпусное исследование. Международная конференция русистов в Барселонском университете<br>
Июнь 2018, Испания, Барселона </li><br>

<p><br><b>2016</b></p>

<li><i>Зевахина Н.А., С.С. Джакупова, С.Ю. Пужаева, Э.Г. Мустакимова, О.Д. Рамзайцева</i><br>
Исследования на материале Корпуса русских учебных курсов. Конференция «Грамматические процессы в синхронии и диахронии». ИРЯ РАН <br>
31 Май 2016, Российская Федерация, Москва </li><br>

<p><br><b>2015</b></p>

<li><i>Anna Vishenkova, Natalia Zevakhina, Svetlana Dzhakupova </i><br>
Morphosyntax and Semantics of Russian Metalinguistic Comparatives. 14th annual conference of the Slavic Cognitive Linguistics Association "Crossing boundaries: taking a cognitive scientific perspective on Slavic languages and linguistics". Universities of Sheffield and Oxford<br>
9–13 December 2015, UK </li><br>

<li><i>Dzhakupova, Svetlana, Elmira Mustakimova, and Natalia Zevakhina</i><br>
Corpus of Russian Student Texts: goals, annotation, and perspectives. Corpus Linguistics 2015 conference<br>
21–24 Jule 2015, UK, Lancaster </li><br>

<li><i>Пужаева С.Ю., Зевахина Н.А., Джакупова С.С. </i><br>
Контаминация конструкций в речи нестандартных русскоговорящих на материале корпуса русских учебных текстов. Шестая международная научная конференция «Корпусная лингвистика-2015». СПбГУ <br>
22–26 Июнь 2015, Российская Федерация, Санкт-Петербург</li><br>

<li><i>Zevakhina, Natalia and Svetlana Dzhakupova. </i><br>
Corpus of Russian student texts: design and prospects. The 21st International Conference on Computational Linguistics “Dialog” <br>
27–30 May 2015, Russian Federation, Moscow</li><br>

<p><br><b>2014</b></p>

<li><i>Natalia Zevakhina and Svetlana Dzhakupova</i><br>
Russian in the mirror of the Corpus of Russian Student Texts. The Institute of Slavic Studies of the Russian Academy of Sciences<br>
16 December 2014, Russian Federation, Moscow</li><br>

<li><i>Natalia Zevakhina and Svetlana Dzhakupova</i><br>
Russian Metalinguistic Comparatives: Towards the Typology // The 11th Conference on Typology and Grammar for Young Researchers. Institute for Linguistic Studies, Russian Academy of Science<br>
27–29 November 2014, Russian Federation, Saint-Petersburg</li>

</ul>

                <hr id="sec15">


                <h2>Полезные ресурсы</h2>
<li>О корпусных технологиях</li>
<a href="http://www.ruscorpora.ru/corpora-intro.html" target="_blank">"Что такое корпус?"</a>  - на сайте Национального корпуса русского языка</li><br>
<a href="http://postnauka.ru/video/7783" target="_blank">Корпусная лингвистика</a> - Постнаука<br>
<li>Учебные корпуса</li>
<a href="http://web-corpora.net/RLC" target="_blank">Русский учебный корпус </a><br>
<a href="http://rus-ltc.org/" target="_blank">Корпус несовершенных переводов</a><br>
<a href="http://realec.org/" target="_blank">Корпус английских ошибок  </a><br>
</div>
</div>
{% endblock %}